<div class="form-for-dogs">
  <div class='row'>
    <div class='col-md-12'>
      <%= form_for([:admin, @dog], :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <% if @dog.errors.any? %>
          <div class="panel-danger col-md-offset-1">
            <div class="panel-heading">
              <h2 class="panel-title">
                <%= pluralize(@dog.errors.count, "error") %> 
                   prohibited this dog from being added:
              </h2>

              <div class="panel-body">
                <ul>
                  <% @dog.errors.full_messages.each do |msg| %>
                    <li>
                      <%= msg %>
                    </li>
                  <% end %>  
                </ul>
              </div>
            </div>
          </div>
        <% end %>
        <div class="name-age-group">
          <div class='form-group'>
            <div class='has-float-label'>
              <%= f.text_field :name, class: 'form-control', placeholder: 'Name of Dog', autofocus: true %>
              <%= f.label :dogs_name %>
            </div>
          </div>
          <div class='form-group'>
            <div class='has-float-label'>
              <%= f.number_field :age, max: 9, class: 'form-control', placeholder: 'Dogs Age' %>
              <%= f.label :age %>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <div class='control-label col-md-1'>
            <%= f.label :title_age %>
          </div>
          <div class='col-md-11'>
            <!-- Have logic that autopopulates based on dogs age -->
            <%= f.radio_button "title_age", "baby" %>
            <%= f.label :baby %>
            <%= f.radio_button "title_age", "young" %>
            <%= f.label :young %>
            <%= f.radio_button "title_age", "adult" %>
            <%= f.label :adult %>
          </div>
        </div>
        <div class="breed-color-group">
          <div class='form-group'>
            <div class='has-float-label'>
              <%= f.text_field :breed, class: 'form-control', placeholder: 'Dogs Breed' %>
              <%= f.label :breed %>
            </div>
          </div>
          <div class='form-group'>
            <div class='has-float-label'>
              <%= f.text_field :color, class: 'form-control', placeholder: 'Dogs Color' %>
              <%= f.label :color %>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <div class='control-label col-md-1'>
            <%= f.label :gender %>
          </div>
          <div class='col-md-11'>
            <%= f.radio_button "gender", "female" %>
            <%= f.label :female %>
            <%= f.radio_button "gender", "male" %>
            <%= f.label :male %>
          </div>
        </div>
        <div class='form-group'>
          <div class='control-label col-md-1'>
            <%= f.label :size %>
          </div>
          <div class='col-md-11'>
            <%= f.radio_button "size", "small" %>
            <%= f.label :small %>
            <%= f.radio_button "size", "medium" %>
            <%= f.label :medium %>
            <%= f.radio_button "size", "large" %>
            <%= f.label :large %>
          </div>
        </div>
        <div class="birth-date-location-group">
          <div class='form-group'>
            <div class='has-float-label'>
              <%= f.text_field :birth_date, class: 'form-control', placeholder: 'EX: 01/2015' %>
              <%= f.label :birth_date %>
            </div>
          </div>
          <div class='form-group'>
            <div class='has-float-label'>
              <%= f.number_field :location, min: 0, max: 99999, class: 'form-control', placeholder: 'Zip Code' %>
              <%= f.label :location %>
            </div>
          </div>
        </div>
        <div class="photo-group">
          <div class='form-group'>
            <div class='has-float-label'>
              <%= f.text_field :photo, placeholder: 'Insert Photo URL Here', class: 'form-control' %>
              <%= f.label :photo %>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <div class='control-label col-md-1'>
            <%= f.label :adoptable %>
          </div>
          <div class='col-md-11'>
            <%= f.radio_button "adoptable", "true" %>
            <%= f.label :yes %>
            <%= f.radio_button "adoptable", "false" %>
            <%= f.label :no %>
          </div>
        </div>
        <div class="form-group">
          <div class='col-md-offset-1 col-md-11'>
            <%= f.submit class: "btn btn-primary btn-lg pull-left" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<link href="/css/custom.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/float-label-css/v1.0.2/dist/float-label.min.css">
