<div class="form-for-dogs">
  <div class='row'>
    <div class='col-md-12'>
      <%= form_for([:admin, @dog], :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <% if @dog.errors.any? %>
          <div class="panel-danger col-md-offset-1">
            <div class="panel-heading">
               <h2 class="panel-title">
                  <!-- going to show the error on the page for the user to see and pluralize it as well as count how many errors there are. -->
                  <%= pluralize(@dog.errors.count, "error") %> 
                     prohibited this dog from being added:
               </h2>

               <div class="panel-body">
                 <ul>
                   <% @dog.errors.full_messages.each do |msg| %>
                     <li>
                       <%= msg %>
                     </li>
                   <% end %>  
                 </ul>
               </div>
             </div>
           </div>
         <% end %>
         <div class='form-group'>
           <div class='control-label col-md-1'>
             <%= f.label :name %>
           </div>
           <div class='col-md-11'>
             <%= f.text_field :name, class: 'form-control', placeholder: 'Name of Dog', autofocus: true %>
           </div>
         </div>
         <div class='form-group'>
           <div class='control-label col-md-1'>
             <%= f.label :age %>
           </div>
           <div class='col-md-11'>
             <%= f.number_field :age, max: 0..1, class: 'form-control', placeholder: 'Dogs Age' %>
           </div>
         </div>
         <div class='form-group'>
           <div class='control-label col-md-1'>
             <%= f.label :breed %>
           </div>
           <div class='col-md-11'>
             <%= f.text_field :breed, class: 'form-control', placeholder: 'Dogs Breed' %>
           </div>
         </div>
         <div class='form-group'>
           <div class='control-label col-md-1'>
             <%= f.label :gender %>
           </div>
           <div class='col-md-11'>
             <%= f.label :female %>
             <%= f.radio_button "gender", "female" %>
             <%= f.label :male %>
             <%= f.radio_button "gender", "male" %>
           </div>
         </div>
         <div class='form-group'>
           <div class='control-label col-md-1'>
             <%= f.label :color %>
           </div>
           <div class='col-md-11'>
             <%= f.text_field :color, class: 'form-control', placeholder: 'Dogs Color' %>
           </div>
         </div>
         <div class='form-group'>
           <div class='control-label col-md-1'>
             <%= f.label :size %>
           </div>
           <div class='col-md-11'>
             <%= f.label :small %>
             <%= f.radio_button "size", "small" %>
             <%= f.label :medium %>
             <%= f.radio_button "size", "medium" %>
             <%= f.label :large %>
             <%= f.radio_button "size", "large" %>
           </div>
         </div>
         <div class='form-group'>
           <div class='control-label col-md-1'>
             <%= f.label :adoptable %>
           </div>
           <div class='col-md-11'>
             <%= f.label :yes %>
             <%= f.radio_button "adoptable", "true" %>
             <%= f.label :no %>
             <%= f.radio_button "adoptable", "false" %>
           </div>
         </div>
         <div class='form-group'>
           <div class='control-label col-md-1'>
             <%= f.label :birth_date %>
           </div>
           <div class='col-md-11'>
             <%= f.text_field :birth_date, class: 'form-control', placeholder: 'Dogs Birth Date' %>
           </div>
         </div>
         <div class='form-group'>
           <div class='control-label col-md-1'>
             <%= f.label :photo %>
           </div>
           <div class='col-md-11'>
             <%= f.file_field :photo, class: 'form-control' %>
           </div>
         </div>
         <div class='form-group'>
           <div class='control-label col-md-1'>
             <%= f.label :location %>
           </div>
           <div class='col-md-11'>
             <%= f.number_field :location, max: 0..5, class: 'form-control', placeholder: 'Zip Code' %>
           </div>
         </div>
         <div class='form-group'>
           <div class='control-label col-md-1'>
             <%= f.label :title_age %>
           </div>
           <div class='col-md-11'>
             <!-- Have logic that autopopulates based on dogs age -->
             <%= f.label :baby %>
             <%= f.radio_button "title_age", "baby" %>
             <%= f.label :young %>
             <%= f.radio_button "title_age", "young" %>
             <%= f.label :adult %>
             <%= f.radio_button "title_age", "adult" %>
           </div>
         </div>
         <div class='form-group'>
         <div class='col-md-offset-1 col-md-11'>
           <%= f.submit class: "btn btn-primary btn-lg pull-right" %>
         </div>
       </div>
     <% end %>
  </div>
</div>
