<h1 class="show-admin-dogs">Showing All Dogs for <%= current_admin.email %></h1>

<div id="dog-info-show-page">
  <h2 class="dog-name-show">Meet <%= @dog.name %></h2>

  <div class="doge-info">
    <div class="dog-photo">
      <%= image_tag @dog.photo, height: 300, width: 400 %>
    </div>
    <h4 class="breed-name"><%= @dog.name %> is a <%= @dog.breed %></h4>
    <div class="dog-info-with-gender">
      <% if @dog.gender.titleize == "Female" %>
        <h4 class="dog-age">Title Age: <%= @dog.title_age.titleize %><br><br> Age: <%= @dog.age %></h4>
        <h4 class="dog-size-color">Dog Size: <%= @dog.size.titleize %><br><br> Color: <%= @dog.color.titleize %></h4>
        <h4 class="dog-birth">Birth Date <%= @dog.birth_date %></h4>
        <h4 class="dog-location">Location: <%= @dog.location %></h4>
      <% else %>
        <h4 class="dog-age">Title Age: <%= @dog.title_age.titleize %><br><br> Age: <%= @dog.age %></h4>
        <h4 class="dog-size-color">Size: <%= @dog.size.titleize %><br><br> Color: <%= @dog.color.titleize %></h4>
        <h4 class="dog-birth">Birth Date <%= @dog.birth_date %></h4>
        <h4 class="dog-location">Location: <%= @dog.location %></h4>
      <% end %>
    </div>
    <% if @dog.adoptable == true %>
      <h4 class="adoption-available">Available for adoption<h4>
    <% else %>
      <h4 class="adoption-unavailable">Not available for adoption<h4>
    <% end %>
    <center>
      <h5 class="edit-link"><%= link_to "Edit", [:edit, :admin, @dog]  %> | </h5>
      <h5 class="back-link"><%= link_to "Back", admin_admins_path %></h5>
    </center>
  </div>
</div>
