<h1>Meet <%= @dog.name %></h1>

<div class="doge-info">
  <div class="dog-photo">
    <%= image_tag @dog.photo, size: 250 %>
  </div>
  <h4 class="breed-name"><%= @dog.name %> is a <%= @dog.breed %></h4>
  <div class="dog-info-with-gender">
    <% if @dog.gender.titleize == "Female" %>
      <h4 class="dog-age">Title Age: <%= @dog.title_age.titleize %><br><br> Age: <%= @dog.age %></h4>
      <h4 class="dog-size-color">Dog Size: <%= @dog.size.titleize %><br><br> Color: <%= @dog.color.titleize %></h4>
      <h4 class="dog-birth">Birth Date <%= @dog.birth_date %></h4>
      <h4 class="dog-location">Location: <%= @dog.location %></h4>
    <% else %>
      <h4 class="dog-age">Title Age: <%= @dog.title_age.titleize %><br><br> Age: <%= @dog.age %></h4>
      <h4 class="dog-size-color">Size: <%= @dog.size.titleize %><br><br> Color: <%= @dog.color.titleize %></h4>
      <h4 class="dog-birth">Birth Date <%= @dog.birth_date %></h4>
        <h4 class="dog-location">Location: <%= @dog.location %></h4>
    <% end %>
  </div>
  <% if @dog.adoptable == true %>
    <h4>Available for adoption<h4>
  <% else %>
    <h4>Not available for adoption<h4>
  <% end %>
  <% if is_admins_dog? %>
    <%= link_to "Edit", [:edit, :admin, @dog]  %>
  <% end %>
</div>
<h4><%= link_to "Home Page", root_path %></h4>
<link rel="stylesheet" href="/css/custom.css">
