<div class="signup-form">
  <h2 class="sign-up-title">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="email-form">
      <%= f.label :email, class: "email-label" %><br />
      <%= f.email_field :email, autofocus: true, class: "email-field" %>
    </div>

    <div class="password-form">
      <%= f.label :password, class: "password-label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "password-field" %>
    </div>

    <div class="password-confirm-form">
      <%= f.label :password_confirmation, class: "password-confirm-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "password-confirm-field" %>
    </div>

    <div class="signup-button">
      <%= f.submit "Sign up", class: "registration-submit-button" %>
    </div>
  <% end %>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>
