<div class="search-for-dogs-form">
  <%= form_tag searchs_index_path, method: "get", class: "search-dogs" do %>

    <div id="form-searching-for-dogs">

      <div class="location">
        <% label_tag :location, class: "location-label" %>
        <%= number_field_tag :location, params[:location], max: 0..5, placeholder: "Zip Code", class: "zip-code-area" %>
      </div>

      <div class="dog-breed">
        <% label_tag :breed, class: "breed-label" %>
        <%= text_field_tag :breed, params[:breed], placeholder: "Breed", class: "breed-text-field" %>
      </div>

      <div class="dog-age">
        <p class="age-name">Choose an Age Range:</p>
        <%= label_tag :age_baby, "Baby, 0-2 years", class: "age-baby" %>
        <br/>
        <%= label_tag :age_young, "Young, 3-5 years", class: "age-young" %>
        <br/>
        <%= label_tag :age_adult, "Adult, 6-8 years", class: "age-adult" %>
        <%= number_field_tag :age, nil, max: 9 %>
      </div>

      <div class="dog-gender">
        <% label_tag :gender, class: "gender-label" %>
        <%= text_field_tag :gender, params[:gender], placeholder: "Dog Gender", class: "gender-text-field" %>
      </div>

      <div class="submit-button-for-search">
        <%= submit_tag "Search for Dogs", name: nil, class: "dog-search-submit-button" %>
      </div>
    </div>
  <% end %>
</div>
