<h1 class="dogs-header">Looking for a New Best Friend?</h1>
<div class="doge-info">
  <div class="container">
    <div class="list-inline">
      <% @dogs.each do |d| %>
        <li class="dog-col-info">
          <h2 class="dog-name">
            Meet <%= link_to d.name, dog_path(d.id), class: "dog-link-name" %>
          </h2>
          <div class="dog-photo">
            <%= image_tag d.photo, height: "300", width: "350" %>
          </div>
          <h4 class="breed-name"><%= d.name %> is a <%= d.breed %></h4>
          <% if d.gender.titleize == "Female" %>
            <h4 class="dog-age">
              She is <%= d.age %> years old and is a <%= d.size %> sized dog.
            </h4>
          <% else %>
            <h4 class="dog-age">
              He is <%= d.age %> years old and is a <%= d.size %> sized dog.
            </h4>
          <% end %>
        </li>
      <% end %>
    </div>
  </div>
</div>
