<div id="breeds-show">
  <div class="breeds-name-show">
    <h2 class="dog-breed-name">
      <%= @breed.name %> 
    </h2>
  </div>
  <div class="breed-photo">
    <%= image_tag @breed.photo, height: "300", width: "450" %> 
  </div>
  <div class="breed-description-show">
    <p class="breed-description">
      <%= @breed.description %> 
    </p>
  </div>
  <div class="breed-life-span">
    <p class="attributes">
      Life Span: <%= @breed.life_span %>
    </p>
  </div>
  <div class="breed-temperament">
    <p class="attributes">
      Temperament: <%= @breed.temperament %>
    </p>
  </div>
  <div class="breed-height">
    <p class="attributes">
      Height: <%= @breed.height %>
    </p>
  </div>
  <div class="breed-weight">
    <p class="attributes">
      Weight: <%= @breed.weight %>
    </p>
  </div>
</div>
