<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <% if admin_signed_in? %>
          <%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "navbar-brand page-scroll" %>
        <% else %>
          <%= link_to "Sign Up", new_admin_registration_path, class: "navbar-brand page-scroll" %>
          <%= link_to "Sign In", new_admin_session_path, class: "navbar-brand page-scroll" %>
        <% end %>
          <%= link_to "Home", root_path, class: "navbar-brand page-scroll" %>
      </div>

      <% if admin_signed_in? %>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "Find A Dog To Adopt", dogs_path, class: "page-scroll" %>
            </li>
            <li>
              <%= link_to "My Dogs", admin_dogs_path, class: "page-scroll" %>
            </li>
            <li>
              <%= link_to "Post a Dog for Adoption", new_admin_dog_path, class: "page-scroll" %>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "Find A Dog To Adopt", dogs_path, class: "page-scroll" %>
            </li>
            <li>
              <a class="page-scroll" href="#about">About Dog Adoption</a>
              <ul class="about-dog-adoption">
                <li><%= link_to "More About Dog Adoption", dogs_adoption_path, class: "dog-adopt-info" %></li>
              </ul>
            </li>
            <li>
              <a class="page-scroll" href="#services">Dog Care</a>
              <ul class="dog-care">
                <li><%= link_to "Dog Breeds", dogs_path, class: "dog-care-info" %></li>
                <li><%= link_to "Bring a Dog Home", dogs_path, class: "dog-care-info" %></li>
                <li><%= link_to "Dog Training", dogs_path, class: "dog-care-info" %></li>
                <li><%= link_to "Dog Problems", dogs_path, class: "dog-care-info" %></li>
                <li><%= link_to "Dog Grooming", dogs_path, class: "dog-care-info" %></li>
                <li><%= link_to "Dog Care Videos", dogs_path, class: "dog-care-info" %></li>
              </ul>
            </li>
            <li>
              <a class="page-scroll" href="#portfolio">Some of Our Pets</a>
              <ul class="our-pets">
                <li><%= link_to "See All Dogs", dogs_path, class: "all-our-pets" %></li>
              </ul>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Helping Dogs</a>
              <ul class="help-dogs">
                <li><%= link_to "Get Involved", dogs_path, class: "dog-involvement" %></li>
              </ul>
            </li>
          </ul>
        </div>
      <% end %>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
