<h1 class="admins-dog-index">Showing All Dogs for <%= current_admin.email %></h1>
<% if @admins_dogs.any? %>
  <div class="doge-info">
    <div class="container">
      <div class="list-inline">
        <% @admins_dogs.each do |d| %>
          <li class="dog-col-info">
            <h2 class="dog-name"><%= link_to d.name, admin_admin_path(d) %></h2>
            <div class="dog-photo">
              <%= image_tag d.photo, height: "300", width: "350" %>
            </div>
            <h4 class="breed-name"><%= d.name %> is a <%= d.breed %></h4>
            <% if d.gender.titleize == "Female" %>
              <h4 class="dog-age">
                She is <%= d.age %> years old and is a <%= d.size %> sized dog.
              </h4>
            <% else %>
              <h4 class="dog-age">
                He is <%= d.age %> years old and is a <%= d.size %> sized dog.
              </h4>
            <% end %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div id="no-dogs-yet">
    <h2 class="no-dogs">
      <%= current_admin.email %> hasn't posted any dogs yet. 
      <br/>
      Follow this <%= link_to "link", new_admin_dog_path %> to post a dog for adoption.
    </h2>
  </div>
<% end %>
