<div id="login-form">
  <h2 class="login-title">Log In</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="email-form">
      <%= f.label :email, class: "email-label" %><br />
      <%= f.email_field :email, autofocus: true, class: "email-field" %>
    </div>

    <div class="password-form">
      <%= f.label :password, class: "password-label" %><br />
      <%= f.password_field :password, autocomplete: "off", class: "password-field" %>
    </div>

   <!-- <#% if devise_mapping.rememberable? -%#>
      <div class="field">
        <#%= f.check_box :remember_me %>
        <#%= f.label :remember_me %>
      </div>
    <#% end -%#> -->

    <div class="login-button">
      <%= f.submit "Log in", class: "btn btn-primary btn-block btn-large" %>
    </div>
  <% end %>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="/css/custom.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
