<div id="login-form">
  <h2 class="login-title">Login</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="email-form">
      <div class="has-float-label">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "email-field" %>
        <%= f.label :email, class: "email-label" %><br />
      </div>
    </div>

    <div class="password-form">
      <div class="has-float-label">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "password-field" %>
        <%= f.label :password, class: "password-label" %><br />
      </div>
    </div>

   <!-- <#% if devise_mapping.rememberable? -%#>
      <div class="field">
        <#%= f.check_box :remember_me %>
        <#%= f.label :remember_me %>
      </div>
    <#% end -%#> -->

    <div class="login-button">
      <%= f.submit "Login", class: "btn btn-primary btn-block btn-large" %>
    </div>
  <% end %>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="/css/custom.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/float-label-css/v1.0.2/dist/float-label.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
