<!DOCTYPE html>
<html>
  <head>
    <title>PetFinderMockUp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="page-top">

    <%= render "shared/header" %>
    <%= render "shared/main" %>

  </body>
</html>
